/* 模态框 */
.brower_helper-model_box {
    z-index: 9999999;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.brower_helper-model_main {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding:5px;
    display: grid;
    box-shadow: 10px 10px 10px #ccc;
}

.brower_helper-model_main::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 45%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: rotate(45deg);
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
}

.brower_helper-model_item{
    font-size: 12px;
    line-height: 20px;
    user-select: none;
    padding: 0 15px;
    cursor: pointer;
    border-right: 1px solid #ccc;
}
.brower_helper-model_item:nth-last-child(1){
    border-right: none;
}
.brower_helper-model_item:hover{
    background-color: #eee;
}
